h2.tabback(ng-show="openAuctionsExist()") Open auctions

h2.tabback(ng-hide="openAuctionsExist()") No current auctions
div#open-listings
  div.open-listing.row#auction-items(ng-repeat="listing in state.auction | filter:openListingsFilter")
    div.col-sm-8
      h3#whiteback {{listing.name}}
      img(src="{{listing.imageUrl}}").listing-img
      p Seller: <strong>{{listing.submitter.username}}</strong>
      p Time remaining: {{listing.timeRemaining | timeRemainingFilter}}
      form#bidform(ng-submit="submitBid(listing)").form-inline
        input(placeholder="price", ng-model="listing.mybid").form-control
        input(type="submit", value="Bid!").btn.btn-warning
    div.col-sm-4
      h3(ng-show="listing.bids[0]") Bids
      div
        div(ng-repeat="bid in listing.bids") {{bid.price | currency}} - <strong>{{bid.user.username}}</strong>