div.container#topheading(ng-controller="biddingController")
    //- p The state is.. {{state}}
    span.glyphicon.glyphicon-comment.btn-lg#livechat(ng-click="showChat()")

    ul.nav.nav-tabs.nav-justified#topNavBar
      li
        img(src='https://www.shareicon.net/download/2015/09/22/105481_hammer_512x512.png' height='100' width='100')
        p.bidworld-logo BidWorld
      li(role='presentation' ng-class='{active: showCurrent}')
        a(ng-click="changeActiveTab('showCurrent')") Current Auctions
      li(role='presentation' ng-class='{active: showNew}')
        a(ng-click="changeActiveTab('showNew')") Add an Auction
      li(role='presentation' ng-class='{active: showClosed}')
        a(ng-click="changeActiveTab('showClosed')") Closed Auctions
      li(role='presentation')
        a(onClick='window.location.reload()') Log Out
    mobile-nav 
    div.row
        div(ng-hide='landing')
          img.mobilelanding(src='https://www.shareicon.net/download/2015/09/22/105481_hammer_512x512.png' height='100' width='100')
          h2.textcenter Welcome!
          h3.textcenter#extendcolor Here at BidWorld, you can buy anything your heart desires. As long as it's up for auction!

        div.col-md-8
          div
            new-auction(ng-show="showNew")
            live-auctions(ng-show="showCurrent")
            closed-auctions(ng-show="showClosed")
                  
        // Chat Sidebar
        div.col-md-4.chat-sidebar(ng-controller="chatController" ng-class='{showNavStatus: showNavStatus}')
            h2.chat-title Live Chat
            
            ul.chat-list
                li.chat-message(ng-repeat="msg in state.messages")
                    span
                        strong {{msg.user.username}}
                    | &nbsp; {{msg.text}}

            form.chat-input(ng-submit="addMessage()")
              input.form-control(ng-model="newMessage")
              input.btn.btn-primary.chat-button(type="submit" ng-value="msgButton")
